body {
	margin: 0;
	padding: 0;
}

.container {
	background-color: red;
	height: 50px;
	font-size: 4rem;
}

/* .child {
	background-color: blue;
	width: 70vw;
} */

/* h1 {
	border: 2px solid red;
} */

h1 {
	font-size: 1em;
}
