.grid-container {
	display: grid;

	border: 2px solid red;
	height: 400px;

	/*: grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */

	/* grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 100px); */

	grid-template: repeat(3, 100px) / repeat(3, 1fr);

	padding: 5px;
	/* justify-items: center; */
	/* align-items: center; */
	align-content: center;
	justify-content: center;
}

.grid-item {
	color: white;
	/* justify-self: center;
	align-self: center; */
}

.one {
	background-color: red;
	grid-column: 1/4;
}

.two {
	background-color: blue;
	grid-column: 2/4;
	/* grid-row: 2/4; */
}

.three {
	background-color: green;
}

.four {
	background-color: violet;
}

.five {
	background-color: aqua;
}

.six {
	background-color: tomato;
}

.seven {
	background-color: steelblue;
}

.eight {
	background-color: slategrey;
}

.nine {
	background-color: sienna;
}
