.grid-container {
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 5px;
}

.header {
	background-color: slategray;
	grid-column: 1/13;
}

.nav {
	background-color: skyblue;
	grid-column: 1/4;
	grid-row: 2/12;
}

.title {
	background-color: orange;
	grid-column: 4/13;
}

.article-1 {
	background-color: green;
	grid-column: 4/7;
	grid-row: 3/12;
}

.article-2 {
	background-color: green;
	grid-column: 7/10;
	grid-row: 3/12;
}

.article-3 {
	background-color: green;
	grid-column: 10/13;
	grid-row: 3/12;
}

.footer {
	background-color: tomato;
	grid-column: 1/13;
	/* grid-row: 12/13; */
}
